streamlit
pyresparser
pdf2image
spacy
nltk
requests

#python git+https://github.com/explosion/spacymodels/releases/download/en_core_we_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
#pip install nltk
#pip install spacy==2.3.5
#pip install https://github.com/explosion/spacymodels/releases/download/en_core_we_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
#pip install pyresparser
# Also try this, if error "Can't find model 'en_core_web_sm'":
# python3 -m spacy download en_core_web_sm
